.intro li:nth-child(1){
  background-image: linear-gradient(rgba(3, 3, 3, 0.60), rgba(3, 3, 3, 0.60)), url(../img/bg/bg1.jpg);
}
.intro li:nth-child(2) {
  background-image: linear-gradient(rgba(3, 3, 3, 0.60), rgba(3, 3, 3, 0.60)), url(../img/bg/bg2.jpg);
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.intro li:nth-child(3)  {
  background-image: linear-gradient(rgba(3, 3, 3, 0.60), rgba(3, 3, 3, 0.60)), url(../img/bg/bg3.jpg);
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}
.intro li:nth-child(4)  {
  background-image: linear-gradient(rgba(3, 3, 3, 0.60), rgba(3, 3, 3, 0.60)), url(../img/bg/bg4.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% { opacity: 1; }
  37.5% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% { opacity: 1; }
  37.5% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% { opacity: 1;}
  37.5% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes titleAnimation {
  0% { opacity: 1; }
  12.5% { opacity: 1; }
  25% { opacity: 1; }
  37.5% { opacity: 1; }
  100% { opacity: 1; }
}
@-moz-keyframes titleAnimation {
  0% { opacity: 1; }
  12.5% { opacity: 1; }
  25% { opacity: 1; }
  37.5% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes titleAnimation {
  0% { opacity: 1; }
  12.5% { opacity: 1; }
  25% { opacity: 1; }
  37.5% { opacity: 1; }
  100% { opacity: 1; }
}
