$title-bg: #292929;
// $text-color: #fff;
// $title-color: #ff5e0e;

.title-bar {
    background: darken($title-bg, 10%);
    color: $text-color;
    padding: 5px 0 5px;
}
#offCanvas {
    background: $canvas-background;
    a, .close-button {
        color: $text-color;
    }
}
