.title-bar {
    background: darken($dark-cyan, 10%);
    color: $white;
    padding: 5px 0 5px;
}
#offCanvas {
    background: $canvas-background;
    a, .close-button {
        color: $white;
    }
}
