.who-we-are{
  padding: 1.5em;
  text-align: center;
}
.info {
  background: url(../img/bg.jpeg) no-repeat center center fixed;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  color:yellow;
  text-align: left;
  p {
    padding: 2em;
    font-size: 1.5em;
  }
}
.services {
  background-color: #fff;
  margin: 2em;
  text-align: center;
  i {
    font-size: 4em;
  }
}
.services-item h5 {
  color: #497285;
}
.media-content{
  background: url(../img/bg.jpeg) no-repeat center center fixed;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  color:white;
  text-align: center;
  padding: 2em;
}
.media-item{
  i {
    font-size: 3em;
  }
}
.intro {
  list-style: none;
  z-index: 1;
  height: 98vh;
}
.intro li {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 12s linear infinite 0s;
  -moz-animation: imageAnimation 12s linear infinite 0s;
  animation: imageAnimation 12s linear infinite 0s;
}
.intro li h3 {
  position: absolute;
  text-align: center;
  top: 2em;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 4.0625em;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  -webkit-animation: titleAnimation 12s linear infinite 0s;
  -moz-animation: titleAnimation 12s linear infinite 0s;
  animation: titleAnimation 12s linear infinite 0s;
}

