#intro {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  .phrase-section {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    .catch-phrase {
      h1, p {
        font-family: Ubuntu;
      }
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.2em;
        margin-bottom: 1.7em;
        .creativity, .integrity, .collaboration {
          font-weight: bold;
        }
        .creativity {
          color: $creativity-color;
        }
        .integrity {
          color: $podii-orange;
        }
        .collaboration {
          color: $collaboration-color;
        }
      }
      .button {
        border-radius: 3px;
        font-size: 1em;
        font-family: Ubuntu;
        color: black;
        background: yellow;
      }
    }
  }
  .scroll {
    display: flex;
    margin-top: -8em;
    &:hover {
      -webkit-filter: contrast(50%);
      filter: contrast(50%);
    }
    img {
      width: 3em;
      height: 3em;
    }
  }
  @media screen and (max-width: 40em) {
    background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0, 0, 0, 0.80)), url(../img/bg.jpg);
    text-align: center;
    color: white;
    .phrase-section {
      height: 100%;
      h1 {
        font-size: 1.8em;
      }
      p {
        .collaboration {
          background: white;
        }

      }
      .button {
        font-weight: bold;
        color: black;
        background: yellow;
      }

    }
  }
}
#who-we-are {
  text-align: center;
  padding: 2rem 3rem ;
  a {
    background: $podii-blue;
  }
}

#services {
  text-align: center;
  padding: 2rem;
  background-color: #e6e6e6;
  .service-description {
    margin: 0;
  }
  .service {
    text-align: center;
    padding: 2rem;
    background-color: #e6e6e6;
    padding-bottom: 2em;
    h1 {
      font-size: 1.5em;
    }
    h2 {
      padding-bottom: 0.2em;
    }
  }
}

.progress-content {
  background-image: linear-gradient(rgba(#ff5e0e, 0.70), rgba(#008575, 0.70)), url(../img/hero-group.jpg);
  min-height: 20vh;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 2em;

  h2 {
    font-size: 1.0625rem
  }
}
.progress-item {
  i {
    font-size: 3em;
  }
}

.hero {
  h1 {
    padding: 0;
  }

  p {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 40em) {
  .mobile-view {
    max-width: 40%;
  }
}

.quote {
  background-color: #008575;
  padding: 4em;
  .quote-definition {
    font-size: 2rem;
  }
  h1 {
    font-family: 'Philosopher', sans-serif;
    color: white;
    text-align: center;
    font-size: 2.0em;
    padding: 0 0 0.5em 0;
  }
  p {
    font-family: 'Philosopher', sans-serif;
    font-size: 1.1em;
    padding: 0 8em 0 0;
    text-align: center;
    color: white;
  }
  i {
    padding: 0 2em 0 0;
    font-size: 2.5em;
    color: white;
  }
}

@media screen and (max-width: 63.9375em) {
  .quote {
    padding: 2em;
    h2 {
      font-size: 1.5em;
    }
    p {
      display: flex;
      font-size: 1em;
    }
    i {
      font-size: 2em;
    }
    h2, p, i {
      padding: 0;
    }
  }
}

.map {
  padding: 1rem 0;
  filter: grayscale(99%);
}
#join-us {
  .join {
    text-align: center;
    background-color: $creativity-color;
    height: 20vh;
    padding: 2rem;

    h3 {
      color: white;
    }
  }
  .button {
    border-radius: 3px;
    font-size: 0.7em;
    font-family: Ubuntu;
    color: black;
    background: #FFA500;
  }
}
