#intro {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
#who-we-are { 
  text-align: center;
  padding: 2rem 3rem ;
  a {
    background: $podii-blue;
  }
}
#services {
  text-align: center;
  padding: 2rem;
  background-color: #e6e6e6;
  .service {
    padding-bottom: 2em;
  }
  h1{
    padding-bottom: 1em
  }
}
.media-content {
  padding: 0em;
}
.media-item {
  i {
    font-size: 3em;
  }
}
.quote {
  background-color: #e6e6e6;
  p{
    padding: 1.5em;
    font-size: 1.5em;
  }
}
