#intro {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
#who-we-are { 
  text-align: center;
  padding: 2rem 3rem ;
  a {
    background: $podii-blue;
  }
}
#services {
<<<<<<< HEAD
  font-family: 'Slabo 29px', serif;
  text-align: center;
  padding: 2rem;
  background-color: #e6e6e6;
  .service-description {
    margin-bottom: 1px;
  }
  .service{
=======
  text-align: center;
  padding: 2rem;
  background-color: #e6e6e6;
  .service {
>>>>>>> 6834eda2d1cfa8a9edaca6cc37bbbf7e74901e7b
    padding-bottom: 2em;
    h2 {
      font-size: 1.5em;
    }
  h1 {
    padding-bottom: 0.2em;
    }
  }
}
.media-content {
  padding: 0em;
}
.media-item {
  i {
    font-size: 3em;
  }
}
.quote {
  background-color: #e6e6e6;
  padding: 2em;
  p {
   display: inline;
   font-family: 'Philosopher', sans-serif;
   padding: 0.4em 4em 4em 4em;
   font-size: 1.5em;
  }
  i {
    font-size: 5em;
  }
}
