#intro {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  .phrase-section {
    justify-content: center;
    align-items: center;
    display: flex;
    .catch-phrase {
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.2em;
        margin-bottom: 1.7em;
        .creativity, .integrity, .collaboration {
          font-weight: bold;
        }
        .creativity {
          color: $creativity-color;
        }
        .integrity {
          color: $podii-orange;
        }
        .collaboration {
          color: $collaboration-color;
        }
      }
      .services-button {
        border-radius: 3px;
        font-size: 1em;
        color: black;
        background: yellow;
      }
    }
  }
  .scroll {
    display: flex;
    margin-top: -8em;
    &:hover {
      -webkit-filter: contrast(50%);
      filter: contrast(50%);
    }
    img {
      width: 3em;
      height: 3em;
    }
  }
  @media screen and (max-width: 40em) {
    background-color: $podii-blue;
    background-image: url(../img/particle.png), linear-gradient($podii-blue, lighten($podii-blue, 8%));
    background-size: cover;
    color: white;
    padding: 1em;
    padding-top: 6em;
    p {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    img {
      max-height: 35vh;
      margin-top: -5em;
      opacity: 0.3;
    }
    .float-right {
      text-align: right;
    }
    .phrase-section {
      h1 {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

#services {
  background-color: #e6e6e6;
  padding: 3em;
  text-align: center;
  h1 {
    font-size: 2em;
    font-weight: bold;
    color: $podii-orange;
  }
  p{
    text-align: justify;
    &:first-of-type {
      text-align: left;
    }
  }
  .service-description {
    margin: 0;
  }
  .service {
    background-color: #e6e6e6;
    padding-bottom: 2em;
    h2 {
      padding-bottom: 0.2em;
      color: $podii-blue;
    }
    .fi {
      font-size: 5em;
      color: #bacbdd;
    }
  }
}

.progress-content {
  min-height: 20vh;
  text-align: center;
  padding: 2em;
  img {
    height: 100px;
    padding-bottom: 2em;
  }

  h2 {
    font-size: 1.4rem
  }
}
.progress-item {
  i {
    font-size: 3em;
  }
}

.hero {
  h1 {
    padding: 0;
  }

  p {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 40em) {
  .mobile-view {
    max-width: 40%;
  }
}

.quote {
  background-color: #008575;
  padding: 4em;
  .quote-definition {
    font-size: 2rem;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 2.0em;
    padding: 0 0 0.5em 0;
  }
  p {
    font-size: 1.1em;
    padding: 0 8em 0 0;
    text-align: center;
    color: white;
  }
  i {
    padding: 0 2em 0 0;
    font-size: 2.5em;
    color: white;
  }
}

@media screen and (max-width: 63.9375em) {
  .quote {
    padding: 2em;
    h2 {
      font-size: 1.5em;
    }
    p {
      display: flex;
      font-size: 1em;
    }
    i {
      font-size: 2em;
    }
    h2, p, i {
      padding: 0;
    }
  }
}

.map {
  padding: 1rem 0;
  filter: grayscale(99%);
}
.join {
  padding: 1em;
  text-align: center;
  background-color: $creativity-color;
  color: white;
  p {
    margin:0;
  }
  .button {
    border-radius: 3px;
    font-size: 0.7em;
    color: black;
    background: yellow;
    margin-left: 1em;
    margin-top: 1em;
  }
}
