.team{
  background-attachment: fixed;
  background-image: linear-gradient(rgba(#000000, 0.7), rgba(#000000, 0.7)), url(../img/team/team-background.jpg);
  
  .team-wrap {
    padding-top: 2.5em;
  margin: 0 auto;
  width: 80%;
  }

  h1 {
    text-align: center;
    color: white;
  }

  i {
    font-size: 2em;
  }

  .circular {
    border-radius: 100%;
    margin-top: -80px;
    height: 120px;
    width: 120px;
  }

  .callout {
    border-radius: 15px;
  }

  .courier {
    font-family: "Courier New", Courier, monospace;
    color: #c5b9b9;
  }

  .menu.simple {
    justify-content: center;
  }

  p {
    font-family: "Comic Sans MS";
    color: grey;
    margin-bottom: 0;
  }
  
  #foo-bar {
    padding: 2rem 1rem;
    text-align: center;
  }

}
