.team{
  background: #000;
  text-align: center;

  i {
    font-size: 2em;
  }

  .circular {
    border-radius: 100px;
    padding: 10px;
  }
  .courier {
    font-family: "Courier New", Courier, monospace;
    color: #D02C2C;
  }
  .menu.simple {
    justify-content: center;
  }
  p {
    margin-bottom: 0;
  }

}
