.team{


  .team-wrap {
    padding-top: 2.5em;
  margin: 0 auto;
  width: 80%;
  }

  h1 {
    text-align: center;
    color: $podii-blue;
    padding-top: 3rem;
  }

  i {
    font-size: 2em;
    padding: 0.7em 0;
  }

  .name {
    padding-top: 1rem;
  }

  .codewars {
    padding: 1em;
  }
.description{
  text-align: center;
  padding-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
}
  .circular {
    border-radius: 100%;
    margin-top: -80px;
    height: 120px;
    width: 120px;
    padding: 0;
    // box-shadow: 3px 5px 10px gray;
  }

  .callout {
    border-radius: 5px;
  }

  .courier {
    color: white;
  }

  .menu.simple {
    justify-content: center;
  }

  p {
       margin-bottom: 0;
  }

  .member-details {
    padding: 2rem 1rem;
    text-align: center;
  }

}
