.top-bar {
  height: 5em;
  position: relative;
 .menu .active > a {
   background: $topbar-background;
   color: #fefefe;
   border-bottom: 0.25em solid $podii-orange;
  }
 a {
  color: white;
  border-bottom: 0.25em solid transparent;
  &:hover {
   color: white;
   border-bottom: 0.25em solid $podii-orange;
  }
 }
 .brand-logo {
   max-height: 5em;
   z-index: 100;
   top: 1em;
   position: absolute;
 }
}
