.top-bar {
  height: 3.2em;
 .menu .active > a {
    background: $topbar-background;
    color: #fefefe;
    border-bottom: 2px solid $podii-orange;
  }
}
.top-bar a {
    color: white;
    border-bottom: 2px solid transparent;
}
.top-bar a:hover {
    color: white;
    border-bottom: 2px solid $podii-orange;
}

