.top-bar {
  height: 3.2em;
 .menu .active > a {
   background: $topbar-background;
   color: #fefefe;
   border-bottom: 0.125em solid $podii-orange;
  }
 a {
  color: white;
  border-bottom: 0.125em solid transparent;
  &:hover {
   color: white;
   border-bottom: 0.125em solid $podii-orange;
  }
 }
}

