<footer class="footer">
  <div class="grid-container ">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-4">
        <h4 class="footer-name">Podii</h4>
        <p>PodiiHq is a team that brings change to the Technology industry.
        We are a team developers with a passion to code and make
        better the technology culture.</p>
      </div>
      <div class="cell medium-4">
        <h4 class="footer-title">Contact Info</h4>
        <div class="footer-block">
            <i class="fi fi-marker" aria-hidden="true"></i>
            <p>Lutheran Kisumu, Kenya</p>
        </div>
        <div class="footer-block">
            <i class="fi fi-telephone" aria-hidden="true"></i>
            <p>+254 57 2041122</p>
        </div>
        <div class="footer-block">
            <i class="fi fi-mail" aria-hidden="true"></i>
            <img src="{{root}}/assets/img/email.png" alt="">
        </div>
      </div>
      <div class="cell medium-4">
        <h4 class="footer-title">Social Media</h4>
        <div class="social-media">
            <a href="https://www.twitter.com/podiihq/">
            <i class="fa fi-social-twitter circle-icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/Podiihq-983854468436354/">
            <i class="fa fi-social-facebook circle-icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/podiihq/">
            <i class="fa fi-social-instagram circle-icon" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/podiihq">
            <i class="fa fi-social-github circle-icon" aria-hidden="true"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
<p>&copy; 2018 All rights reserved</p>
</div>
