<footer class="footer">
  <div class="grid-container ">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-4">
        <img alt="logo of podii" src="{{root}}assets/img/logo.png" class="logo"/>
        <p>Podii is a team that brings change to the Technology industry.
        We are a team developers with a passion to code and make
        better the technology culture.</p>
      </div>
      <div class="cell medium-4">
        <h4 class="footer-title">Contact Info</h4>
        <div class="footer-block">
            <i class="fi fi-marker" aria-hidden="true"></i>
            <p>Lutheran Kisumu, Kenya</p>
        </div>
        <div class="footer-block">
            <i class="fi fi-telephone" aria-hidden="true"></i>
            <p>+254 57 2041122</p>
        </div>
        <div class="footer-block">
            <i class="fi fi-mail" aria-hidden="true"></i>
            <img src="{{root}}assets/img/email.png" alt="our email address" class="email-image">
        </div>
      </div>
      <div class="cell medium-4">
        <h4 class="footer-title">Social Media</h4>
        <div class="social-media">
            <a href="https://www.twitter.com/podiihq/" target="blank">
            <i class="fa fi-social-twitter circle-icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/podiihq/" target="blank">
            <i class="fa fi-social-facebook circle-icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/podiihq/" target="blank">
            <i class="fa fi-social-instagram circle-icon" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/podiihq" target="blank">
            <i class="fa fi-social-github circle-icon" aria-hidden="true"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
<p>&copy; 2018 All rights reserved</p>
</div>
