<footer class="footer">
    <div class="grid-container ">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-4">
                <h4 class="footer-name">PodiiHQ</h4>
                <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Expedita dolorem accusantium 
                architecto id quidem, itaque nesciunt quam ducimus atque.</p>
            </div>
            <div class="cell medium-4">
                <h4 class="footer-title">Contact Info</h4>
                <div class="footer-block">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>Lutheran <br> Kisumu, Kenya</p>
                </div>
                <div class="footer-block">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>436106101230</p>
                </div>
                <div class="footer-block">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p>podiihq@gmail.com</p>
                </div>
            </div>
            <div class="cell medium-4">
                <h4 class="footer-title">Social Media</h4>
                <img src="https://placehold.it/75" alt="">
                <img src="https://placehold.it/75" alt="">
                <img src="https://placehold.it/75" alt="">
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <p>&copy; 2018 All rights reserved</p>
</div>
