<div class="top-bar show-for-medium" id='podiihq-menu'>
  <div class="top-bar-left">
    <li class="menu-text"><a href="/index.html"><b>Podii</b></a></li>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="">Tech</a></li>
      <li class="{{#ifpage 'team'}}active{{/ifpage}}"><a href="team.html">Team</a></li>
      <li><a href="https://medium.com/podiihq" target="blank">Blog</a></li>
    </ul>
  </div>
</div>
