{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodiiHQ</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
          <ul class="menu vertical" id="canvasmenu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="">Tech</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Blog</a></li>
          </ul>
          <button class="close-button" aria-label="Close menu" type="button" data-close>
              <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-medium">
              <div class="title-bar-left">
                  <button class="menu-icon " type="button" data-toggle="offCanvas"></button>
              </div>
              <div class="title-bar-right">
                  <span class="title-bar-title ">Podii</span>
              </div>
          </div>
          {{> topbar}}
          {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
          {{> body}}
          {{> footer}}
      </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
